body{
    background-color: bisque;
    margin: 0;

}
.header{
    display: flex;
    gap: 10px;
    font-family: "Arial", Arial, sans-serif;;
}
.subheader{
    display: flex;
    gap: 10px;
    font-family: "Arial", Arial, sans-serif;;


}

.logo{
    width: 30px;
    height: 30px;
    margin-top: 0.725%;
}



.menu{
    width: 30px;
    height: 20px;
    margin-top: 0.725%;
}